.ivu-tooltip-dark .ivu-tooltip-inner{
  background: #000;
  border-radius: 0px;
}
.ivu-tooltip-dark .ivu-tooltip-arrow{
  border-bottom-color:#000!important;
}
.ivu-tabs-bar{
  border-bottom: none;
}
.ivu-tabs-bar .ivu-tabs-tab{
  padding-left:10px;
  padding-right:10px;
}
.ivu-select{
  margin-right: 5px;
}
.ivu-select.error .ivu-select-selection{
  border:1px solid #f00;
}
.ivu-select .ivu-select-selection{
  border-radius: 0px;
}
.ivu-cascader{
  display: inline-block;
  margin-right: 5px;
}
.ivu-cascader.error input{
  border:1px solid #f00;
}
.ivu-page{
  text-align:right;
  margin:20px;
}
.ivu-page,
.ivu-page *{
  font-size:12px!important;
}
.ivu-page .ivu-page-item,
.ivu-page .ivu-page-custom-text{
  border-color:#f6f8f9;
  background:none;
}
.ivu-page .ivu-page-item-active{
  background:#2271f4;
}
.ivu-page .ivu-page-item-active a{
  color:#fff;
}
.ivu-page .ivu-page-options-elevator input{
  text-align:center;
}

.ivu-drawer-header{
  background:#2271f4;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding: 0 0 0 50px;
}
.ivu-drawer-header-inner{
  color:#fff;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
}
.ivu-drawer-body{
  height: calc(100% - 100px);
}
.ivu-drawer-close i{
  color:#fff!important;
}
.ivu-drawer-body .ivu-form-item span.text{
  line-height:18px;
  display:inline-block;
  padding:7px 10px;
}
.ivu-drawer-body .ivu-form-item pre.text,
.ivu-drawer-body .ivu-form-item div.text{
  line-height:18px;
  padding:7px 10px;
}

.ivu-btn{
  height: 32px;
  border-radius:0px;
}
.ivu-btn.ivu-btn-default span{
  color:#2271f4;
}
.ivu-btn-primary{
  background: #2271f4;
}
.ivu-btn-primary span{
  color:#fff;
}
.ivu-btn.disabled>*, .ivu-btn[disabled]>* {
  color:#c5c8ce;
}
.ivu-btn-primary .ivu-icon{
  color:#fff;
}
.ivu-input-wrapper{
  margin-right:5px;
}
.ivu-input-wrapper textarea{
  height: 100px;
}
.ivu-input-wrapper .unit{
  margin-right:5px;
  display:inline-block;
}
.ivu-input{
  border-radius:0px;
  height:32px;
}
.ivu-input-wrapper.error .ivu-input{
  border:1px solid #f00;
}
.ivu-alert{
  margin-bottom:0px;
  border-radius:0px;
}
.ivu-form-item{
  margin-bottom:15px;
}
.ivu-form-item .ivu-alert-error{
  border:none;
  padding: 3px 10px 3px 20px;
  background:#fff;
}
.ivu-form-item .ivu-alert-error .ivu-alert-icon{
  top:3px;
  left:0px;
}
.ivu-form-item .ivu-alert-error .ivu-alert-icon i,
.ivu-form-item .ivu-alert-error .ivu-alert-message{
  color:#f00;
  vertical-align:middle;
  display:inline-block;
}
.ivu-table:after{
  display: none;
}
.ivu-table-wrapper{
  border:none;
}
.ivu-table th{
  background:#fff;
}
.ivu-table td.operate a{
  margin:0 3px;
}
.ivu-modal-content{
  border-radius:0px;
}
.ivu-modal .ivu-modal-header{
  border-bottom:none;
  text-align:center;
  padding-top:38px;
}
.ivu-modal .ivu-modal-header .ivu-modal-header-inner{
  font-size:16px!important;
  font-weight:200!important;
}
.ivu-modal .ivu-modal-footer{
  border-top:none;
  text-align:center;
  padding-top:20px;
  padding-bottom:40px;
}
.ivu-modal .ivu-modal-footer .ivu-btn{
  border-color:#cbcbcb;
  height:31px;
  line-height:31px;
  padding:0px 27px;
}
.ivu-modal .ivu-modal-footer .ivu-btn-primary{
  border-color:#2771f8;
  background:#2271f4;
}
.ivu-modal-confirm-footer .ivu-btn{
  height:31px;
  line-height:25px;
  padding:0px 27px;
}
.ivu-modal-confirm .ivu-icon{
  color:#f90;
}
.ivu-tree .ivu-checkbox-wrapper{
  position: absolute;
  width: calc(100% - 40px);
}


.ivu-radio-wrapper{
  /* padding: 0 0 10px 0; */
}

.ivu-back-top .ivu-back-top-inner{
  background: #135edb;
}

.ivu-tree ul li{
  margin: 0px!important;
}