.ivu-tooltip-dark .ivu-tooltip-inner{
  background: #000;
  border-radius: 0px;
}
.ivu-tooltip-dark .ivu-tooltip-arrow{
  border-bottom-color:#000!important;
}
.ivu-tabs-bar{
  border-bottom: none;
}
.ivu-tabs-bar .ivu-tabs-tab{
  padding-left:10px;
  padding-right:10px;
}
.ivu-select .ivu-select-selection{
  border-radius: 0px;
}
.ivu-page{
  text-align:right;
  margin:20px;
}
.ivu-page,
.ivu-page *{
  font-size:12px!important;
}
.ivu-page .ivu-page-item,
.ivu-page .ivu-page-custom-text{
  border-color:#f6f8f9;
  background:none;
}
.ivu-page .ivu-page-item-active{
  background:#2271f4;
}
.ivu-page .ivu-page-item-active a{
  color:#fff;
}
.ivu-page .ivu-page-options-elevator input{
  text-align:center;
}