.drawerDetailStaff .ivu-drawer-header{
  line-height:30px;

}
.drawerDetailStaff .ivu-drawer-header strong{
  font-weight:200;
  font-size: 18px;
  color: #fff;
  display: block;
  padding-top: 20px;
}
.drawerDetailStaff .ivu-drawer-header strong span{
  font-size: 12px;
  color: #fff;
}
.drawerDetailStaff .ivu-drawer-header p{
  font-size: 12px;
  color: #fff;
  font-weight:200;
}
.compCompanyCreate{
  padding:0 30px;
}
.compCompanyCreate .ivu-tabs-content{
	padding-bottom: 200px;
}
.compCompanyCreate .ivu-form-item.title .ivu-form-item-label{
  text-align: left;
  color: #aaa;
  font-size: 14px;
}
.compCompanyCreate .ivu-upload,
.compCompanyCreate .demo-upload-list{
	width: 90px!important;
	height: 90px!important;
	border-radius: 100%!important;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1)!important;
	border:none!important;
}
.compCompanyCreate .ivu-upload-select{
	cursor: pointer;
	background: url(../../../static/img/upload_default.png) no-repeat;
	background-size: 100% 100%;
}
.compCompanyCreate .ivu-upload-select div{
	display: none;
}
.compCompanyCreate .modify .ivu-upload{
	position: absolute;
	left: 0px;
	top: 0px;
}
.compCompanyCreate .modify .ivu-upload .ivu-upload-select{
	background: none;
}
.compCompanyCreate .modify .ivu-upload .ivu-upload-select div{
	width: 100%!important;
	height: 100%!important;
	text-align:center;
	line-height: 90px!important;
	border-radius: 100%;
}
.compCompanyCreate .modify .ivu-upload .ivu-upload-select:hover div{
	display: block;
	background: rgba(0,0,0,0.2);
}
.compCompanyCreate .modify .ivu-upload .ivu-upload-select:hover div span{
	color:#fff;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert{
	padding: 10px 10px 10px 32px;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert .ivu-alert-icon{
	margin-top:-35px;
	left: 10px;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert .ivu-alert-icon i{
	color: #ffad02;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert .ivu-alert-message{
	float: left;
	font-size: 12px;
	font-weight: 600;
	color: #666;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert .ivu-alert-desc{
	overflow: hidden;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-alert{
	margin-bottom: 30px;
}
.compCompanyCreate .compCompanyCreateGroup .companyName{
	font-size: 14px;
	margin-bottom: 10px;
}
.compCompanyCreate .compCompanyCreateGroup .companyName span{
	font-weight: 200;
	padding-left: 5px;
	font-size: 12px;
}
.compCompanyCreate .compCompanyCreateGroup li.gItem{
	padding: 8px 0;
	min-height: 32px;
}
.compCompanyCreate .compCompanyCreateGroup .compInput{
	display: inline-block;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-input-wrapper{
	margin-right: 10px;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-btn{
	margin-right: 10px;
}
.compCompanyCreate .compCompanyCreateGroup .ivu-btn .ivu-icon{
	color:#999;
	margin-left: 3px;
}
.compCompanyCreate .compCompanyCreateGroup li a{
	display: inline-block;
	padding:0 5px;
}
.compCompanyCreate .compCompanyCreateGroup li .groupName{
	display: inline-block;
	width: 180px;
}
.compCompanyCreate .compCompanyCreateGroup li span.name{
	display: inline-block;
	max-width: 140px;
}
.compCompanyCreate .compCompanyCreateGroup li .num{
	display: inline-block;
	margin-left: 10px;
}
.compCompanyCreate .compCompanyCreateGroup li .manager{
	display: inline-block;
	width: 220px;
}
.compCompanyCreate .compCompanyCreateGroup li .manager .ivu-icon{
	color:#999;
}