/* 主体 */
.pageMain{
  height:100%;
}

.frameBottom{
  width:100%;
  background:#f6f8f9;
  min-height:100%;
}
.frameBottom .frameMenu{
  width:200px;
  height:100%;
  background:#f6f8f9;
  border-right:1px solid #ededed;
  float: left;
}
.frameBottom .frameBody{
  min-height:500px;
  margin-left: 200px;
  padding-top: 70px;
  overflow: hidden;
}
/* pageTitle */
.pageTitle{
    font-size: 16px;
    font-weight: normal;
    min-height: 34px;
    line-height: 34px;
    padding:0 20px;
    margin-bottom: 20px;
}
.pageTitle .tR{
  float:right;
  font-size:12px;
}
.pageTitle .tR input{
  height:32px;
  line-height:32px;
  min-height:32px;
}
.pageTitle .tR button{
    margin-left: 10px;
}
.pageTitle .tR .ivu-input-wrapper{
    margin:0 0 0 10px;
}
.secMain{
    background: #fff;
    padding:0;
    margin:0 20px 20px 20px;
    min-height: 101px;
    position: relative;
}
.secMain .ivu-spin{
    position:absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff;
    z-index: 9;
}
.secMain .ivu-spin-main{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
}
.secMain .xwFormTable{
    font-size: 12px;
}
/* secFilter */
.secFilter{
    font-size: 12px;
}
.secFilter .filterWrap{
    padding: 17px 20px 26px 20px;
}
.secFilter .xwSelect .selectIcon{
    height: 20px;
}
.secFilter .row1,
.secFilter .row1 td{
    position: relative;
    z-index: 6;
}
.secFilter .row2,
.secFilter .row2 td{
    position: relative;
    z-index: 5;
}
.secFilter .row3,
.secFilter .row3 td{
    position: relative;
    z-index: 4;
}
.secFilter .row4,
.secFilter .row4 td{
    position: relative;
    z-index: 3;
}
.secFilter .row5,
.secFilter .row5 td{
    position: relative;
    z-index: 2;
}
.secFilter td{
    width: 25%;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;
}
.secFilter .n{
    height: 32px;
    line-height:32px;
    color: #666;
    font-size: 12px;
    float: left;
    width: 80px;
    text-align: right;
}
.secFilter .n.line{
    text-align: center;
}
.secFilter .inputWrap{
    margin-left: 90px;
    background:#fff;
}

.secFilter td.tdBtn{
    text-align: right;
}

/* secOperate */
.secOperate{
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    text-align: right;
}

/* secTable */
.secTable{
    position: relative;
    z-index: 1;
    /*padding: 0 20px;*/
    font-size: 12px;
}
.secTable th{
    height: 53px;
    line-height: 16px;
    font-weight: normal;
    color: #666;
    text-align: left;
    padding:0 10px;
    border-bottom:1px solid #e2e2e2;
}
.secTable th .xwSelect .selectIcon .arrow{
    border-top-color:#5d5d5d;
    top: 9px;
}
.secTable th .xwSelect{
    height: 30px;
}
.secTable th .selectLabel{
    height: 30px;
    line-height: 30px;
}
.secTable th .selectLst{
    top: 30px;
}
.secTable td{
    height: 46px;
    line-height: 16px;
    border-bottom: 1px solid #ededed;
    text-align: left;
    padding:0 10px;
    color: #333;
}
.secTable .desc,
.secTable .asc,
.secTable .DESC,
.secTable .ASC{
    cursor: pointer;
}
.secTable .asc,
.secTable .ASC{
    display: none;
}
.secTable tr.listC td{
    height: 0px;
    overflow: hidden;
    border: none;
}
.secTable tr.listC{
    height: auto;
/*    display: none;
*/    background: #fcfcfc;
}
.secTable td.operate a{
    color: #297ed8;
    white-space: nowrap;
}
.secTable td.operate a.disabled{
    color: #ccc;
}
.secTable .noData td{
    text-align: center;
}
/* 头部 */
.frameTop .ivu-poptip .ivu-poptip-arrow{
  display:none;
}
.frameTop .ivu-poptip-popper{
    top:41px!important;
}
.frameTop .ivu-poptip-inner{
    border-radius: 0px;
}
.frameTop .ivu-poptip-body,
.frameTop .ivu-poptip-title{
    padding-top:15px;
    padding-bottom:15px;
}
.frameTop .ivu-poptip-body .btnSwitch{
    margin-left: 100px;
    color: #155ede;
}
.frameTop .ivu-poptip-title:after{
    left:0px;
    right:0px;
}